body {
  margin: 0;
  font-family: sans-serif;
}

/* Shared nav layout */
.nav {
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px 32px;
}

/* Logo stays left */
.logo {
  font-weight: bold;
}

/* True center alignment */
.nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
}

/* HERO HEADER */
.hero-header {
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
  z-index: 2;
}

/* HERO SECTION */
.hero {
  height: 720px;
  background: linear-gradient(to bottom, #111, #444);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.hero img{
    width: 100%;
    height: auto;

}

/* SCROLL HEADER */
.scroll-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  color: black;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  z-index: 10;
}

.scroll-header.show {
  transform: translateY(0);
}

/* CONTENT */
.content {
    
  min-height: 200vh;
  padding: 40px;
}

.card-container{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
    
}

.card-content{
 overflow: hidden;
 border:1px solid var(--border);
 text-align: center;
 width: 400px;
 /* padding-bottom: 8px; */
 background: var(--bg-color);
 border-radius: 8px;
 text-align: center;
 transition: transform 0.3s, background 0.3s, opacity 0.3s;
 height: 450px;
}


.card-content.hovered {
  opacity: 1;
  transform:translateY(-10px);
  box-shadow: var(--box-shadow);
  background: var(--bg-color);
  z-index: 10;
}

.image-wrapper {
    width: 100%;
    overflow: hidden;       /* CONTAINS zoom */
    border-radius: 8px 8px 0 0;
    height: 280px;
}

.image-wrapper img {
  width: 100%;
  display: block;
  transform: scale(1);
  transform-origin: center;
  transition: transform 0.4s ease;
}

.card-content:hover .image-wrapper img {
  transform: scale(1.7);
}
